.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  overflow: hidden;
  margin-top: 0.5rem;
}

.profile-section h1 {
  margin-bottom: 0.2rem;
  font-size: clamp(2.2rem, 5vw, 2.5rem);
}

.profile-section p {
  font-size: clamp(1.2rem, 4vw, 1.4rem);
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.profile-picture {
  width: 300px;
  height: 300px;
  background-color: var(--subtle-accent);
  border-radius: 50%;
  object-fit: cover;
}
