.work-experience-container {
  padding: 20px;
}

.work-experience-container {
  padding: 20px;
}

.job-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  margin-bottom: 40px;
  background-color: #e0e0e0;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.2s ease-in-out;
  position: relative;
}

.job-card:hover {
  transform: scale(1.02);
}

.company-name {
  color: #333;
  font-weight: 700;
  font-size: clamp(1.55rem, 5vw, 1.9rem) !important;
  text-align: center;
  margin-top: -10px;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.job-title {
  color: #777;
  font-size: clamp(1.2rem, 4vw, 1.4rem) !important;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  align-self: end;
  margin-top: 1.8em;
}

.job-image {
  width: 350px;
  height: 230px;
  object-fit: cover;
  border-radius: 8px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: start;
  border-radius: 6px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.bottom-right-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: center;
  justify-self: center;
  max-width: 300px;
}

.job-description {
  color: #777;
  font-size: clamp(1.15rem, 4vw, 1.15rem) !important;
  text-align: left;
}

.job-date {
  text-align: center;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  margin-top: 10px;
  color: #555;
  font-size: clamp(1.1rem, 4vw, 1.15rem) !important;
  font-style: italic;
}

@media (max-width: 1024px) {
  .job-card {
    grid-template-columns: 100%;
    max-width: 100%;
    margin: 0 auto 40px auto;
  }

  .company-name, .job-title {
      grid-column: 1 / -1;
  }

  .job-image {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    max-width: 100%;
    justify-self: center;
  }

  .bottom-right-content {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    max-width: 100%;
    align-self: start;
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .job-description {
      text-align: center;
  }

  .job-date {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .bottom-right-content {
    display: none;
  }
}

.team-size-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
}

.people-icon {
  width: 16px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 2px;
}

.team-size {
  font-size: 1em;
  color: #555;
}

@media (max-width: 460px) {
  .job-card.two-line-company-name .job-title {
    margin-top: 3.5em;
  }
}

