.back-link {
  display: inline-block;
  padding: max(8px, 1vh) max(15px, 2vw);
  background-color: #6a7fda;
  color: #FFFFF0 !important;
  border-radius: 5px;
  margin-top: 0px;
  text-decoration: none;
  font-weight: bold;
  font-size: max(1em, 1.5vw);
  transition: background-color 0.2s ease, opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
  position: fixed;
  bottom: 89vh;
  left: calc(2vw + 10px);
  z-index: 1000;
  opacity: 1;
  transform: translateY(0);
}

.back-link.hidden {
  opacity: 0;
  transform: translateY(20px);
}

.back-link span {
  margin-right: 5px;
}

.back-link:hover {
  background-color: #5a6fca;
}
