.footer {
  background-color: var(--primary-color); /* Darker background color for footer */
  padding: 5px;
  text-align: center;
  margin-top: 5px;
  padding-bottom: 5px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 30px; /* Increased spacing between icons */
  align-items: center;
}

.footer-icon {
  color: #333; /* Default icon color */
  font-size: 36px; /* Icon size */
  text-decoration: none; /* Remove underline from links */
}

.footer-icon:hover {
  color: #007bff; /* Hover color */
}

.footer a {
  text-decoration: none;
  color: var(--primary-color);
}

.footer a:hover {
  color: var(--accent-color);
}
