.footer {
  background-color: var(--primary-color);
  padding: 5px;
  text-align: center;
  margin-top: auto;
  padding-bottom: 5px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.footer-icon {
  color: #333;
  font-size: 36px;
  text-decoration: none;
}

.footer-icon:hover {
  color: #007bff;
}

.footer a {
  text-decoration: none;
  color: var(--primary-color);
}

.footer a:hover {
  color: var(--accent-color);
}
